{% extends "pages/base.html" %}
{% block title %}Blog{%endblock%}
{% block content%}
{% for post in Posts %}
<div class="col">
    <h4 style="
    background-color: papayawhip; 
    height:160px; 
    width:200px; 
    display: flex; 
    flex-direction: column; 
    margin-right: 20px;
    border-radius: 10px; 
    border: 2px solid orange;ss
    "> 
        <img src="{{post.image.url}}" style="height:120px; border-radius: 10px 10px 0px 0px; margin-bottom: 10px;"/>
        <center><a style="color:chocolate;; text-decoration: none" href="/blog/{{post.id}}" >{{post.title}} </a></center>
    </h4> 
</div>
{% endfor %}
{% endblock %}