{% extends "pages/base.html" %} 
{% block tilte %} {{post.tilte}} {% endblock %}
{% block content %}
<div class='col'>
    <h3>
        <a href="{{post.id}}" 
        style="text-decoration: none; color: chocolate; "> 
        {{post.title}} 
        </a>   
    </h3>
    <a style=" 
    margin-left: 40px; 
    margin-right: 5px
    
    ">{{post.body}}</a>
    <center><img classname="img" src="{{post.image.url}}" style="height: 300px; margin-top: 10px"/></center>
    {{post.body|safe|linebreaks}} 
</div>
{% endblock %}